[Unit]
Description=AWstack Hcl Server
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/awstack-hcl  --logfile /var/log/awstack-hcl/awstack-hcl.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
