@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?35347759');
  src: url('../font/fontello.eot?35347759#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?35347759') format('woff2'),
       url('../font/fontello.woff?35347759') format('woff'),
       url('../font/fontello.ttf?35347759') format('truetype'),
       url('../font/fontello.svg?35347759#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'xolonium';
  src: url('../xolonium/xolonium.eot');
  src: url('../xolonium/xolonium.eot#iefix') format('embedded-opentype'),
       url('../xolonium/xolonium.woff2') format('woff2'),
       url('../xolonium/xolonium.woff') format('woff'),
       url('../xolonium/xolonium.ttf') format('truetype'),
       url('../xolonium/xolonium.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35347759#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.aw-spin{
  display: inline-block;
  -webkit-animation: aw-spin 2s infinite linear;
  -moz-animation: aw-spin 2s infinite linear;
  animation: aw-spin 2s infinite linear;
}

@keyframes aw-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.icon-aw-delete:before { content: '\e800'; } /* '' */
.icon-aw-modify:before { content: '\e801'; } /* '' */
.icon-aw-1shut-down:before { content: '\e802'; } /* '' */
.icon-aw-add-to:before { content: '\e803'; } /* '' */
.icon-aw-add-to2:before { content: '\e804'; } /* '' */
.icon-aw-adjust:before { content: '\e805'; } /* '' */
.icon-aw-angle-double-left:before { content: '\e806'; } /* '' */
.icon-aw-angle-double-right:before { content: '\e807'; } /* '' */
.icon-aw-angle-down:before { content: '\e89a'; } /* '' */
.icon-aw-angle-left:before { content: '\e809'; } /* '' */
.icon-aw-angle-up:before { content: '\e89b'; } /* '' */
.icon-aw-angle-right:before { content: '\e80b'; } /* '' */
.icon-aw-annex:before { content: '\e80c'; } /* '' */
.icon-aw-calendar:before { content: '\e80d'; } /* '' */
.icon-aw-camera:before { content: '\e80e'; } /* '' */
.icon-aw-check-square:before { content: '\e80f'; } /* '' */
.icon-aw-circle:before { content: '\e810'; } /* '' */
.icon-aw-cloud:before { content: '\e811'; } /* '' */
.icon-aw-cloud-download:before { content: '\e812'; } /* '' */
.icon-aw-cloud-upload:before { content: '\e813'; } /* '' */
.icon-aw-code:before { content: '\e814'; } /* '' */
.icon-aw-collect:before { content: '\e815'; } /* '' */
.icon-aw-compute:before { content: '\e816'; } /* '' */
.icon-aw-copy:before { content: '\e817'; } /* '' */
.icon-aw-correct:before { content: '\e818'; } /* '' */
.icon-aw-dashboard:before { content: '\e819'; } /* '' */
.icon-aw-dialogue:before { content: '\e81a'; } /* '' */
.icon-aw-download:before { content: '\e81b'; } /* '' */
.icon-aw-drop-out:before { content: '\e81c'; } /* '' */
.icon-aw-enter:before { content: '\e81d'; } /* '' */
.icon-aw-file:before { content: '\e81e'; } /* '' */
.icon-aw-files:before { content: '\e81f'; } /* '' */
.icon-aw-find:before { content: '\e820'; } /* '' */
.icon-aw-gear:before { content: '\e821'; } /* '' */
.icon-aw-graph:before { content: '\e822'; } /* '' */
.icon-aw-heart:before { content: '\e823'; } /* '' */
.icon-aw-histogram:before { content: '\e824'; } /* '' */
.icon-aw-home:before { content: '\e825'; } /* '' */
.icon-aw-image:before { content: '\e826'; } /* '' */
.icon-aw-info:before { content: '\e827'; } /* '' */
.icon-aw-internet:before { content: '\e828'; } /* '' */
.icon-aw-label:before { content: '\e829'; } /* '' */
.icon-aw-least:before { content: '\e82a'; } /* '' */
.icon-aw-link:before { content: '\e82b'; } /* '' */
.icon-aw-mail-fprward:before { content: '\e82c'; } /* '' */
.icon-aw-mail-reply:before { content: '\e82d'; } /* '' */
.icon-aw-minus:before { content: '\e82e'; } /* '' */
.icon-aw-minus2:before { content: '\e82f'; } /* '' */
.icon-aw-off:before { content: '\e830'; } /* '' */
.icon-aw-open:before { content: '\e831'; } /* '' */
.icon-aw-pc:before { content: '\e832'; } /* '' */
.icon-aw-phone:before { content: '\e833'; } /* '' */
.icon-aw-pie-chart:before { content: '\e834'; } /* '' */
.icon-aw-position:before { content: '\e835'; } /* '' */
.icon-aw-printer:before { content: '\e836'; } /* '' */
.icon-aw-prompt:before { content: '\e837'; } /* '' */
.icon-aw-prompt2:before { content: '\e838'; } /* '' */
.icon-aw-ranking:before { content: '\e839'; } /* '' */
.icon-aw-repeat:before { content: '\e83a'; } /* '' */
.icon-aw-reward:before { content: '\e83b'; } /* '' */
.icon-aw-safety:before { content: '\e83c'; } /* '' */
.icon-aw-search:before { content: '\e83d'; } /* '' */
.icon-aw-share-it:before { content: '\e83e'; } /* '' */
.icon-aw-shopping-cart:before { content: '\e83f'; } /* '' */
.icon-aw-show:before { content: '\e840'; } /* '' */
.icon-aw-shut-down:before { content: '\e841'; } /* '' */
.icon-aw-sort:before { content: '\e842'; } /* '' */
.icon-aw-square:before { content: '\e843'; } /* '' */
.icon-aw-storage1:before { content: '\e844'; } /* '' */
.icon-aw-time:before { content: '\e845'; } /* '' */
.icon-aw-turn-off:before { content: '\e846'; } /* '' */
.icon-aw-turn-on:before { content: '\e847'; } /* '' */
.icon-aw-upload:before { content: '\e848'; } /* '' */
.icon-aw-user:before { content: '\e849'; } /* '' */
.icon-aw-warning:before { content: '\e84a'; } /* '' */
.icon-aw-wrong:before { content: '\e84b'; } /* '' */
.icon-aw-yes:before { content: '\e84c'; } /* '' */
.icon-aw-dot-circle1:before { content: '\e84d'; } /* '' */
.icon-aw-refresh:before { content: '\e84e'; } /* '' */
.icon-aw-storage:before { content: '\e84f'; } /* '' */
.icon-aw-minus-1:before { content: '\e850'; } /* '' */
.icon-aw-maximum:before { content: '\e851'; } /* '' */
.icon-aw-display:before { content: '\e852'; } /* '' */
.icon-aw-no-display:before { content: '\e853'; } /* '' */
.icon-aw-information:before { content: '\e854'; } /* '' */
.icon-aw-question-mark:before { content: '\e855'; } /* '' */
.icon-aw-host-computer:before { content: '\e856'; } /* '' */
.icon-aw-first-aid:before { content: '\e857'; } /* '' */
.icon-aw-hard-disk:before { content: '\e858'; } /* '' */
.icon-aw-firewall:before { content: '\e859'; } /* '' */
.icon-aw-mirroring:before { content: '\e85a'; } /* '' */
.icon-aw-repair:before { content: '\e85b'; } /* '' */
.icon-aw-user-group:before { content: '\e85c'; } /* '' */
.icon-aw-modify2:before { content: '\e85d'; } /* '' */
.icon-aw-start-up:before { content: '\e85e'; } /* '' */
.icon-aw-time-out:before { content: '\e85f'; } /* '' */
.icon-aw-load:before { content: '\e860'; } /* '' */
/* 2016.6.6 */
.icon-aw-indeterminate:before { content: '\e861'; } /* '' */
.icon-aw-cpu:before { content: '\e862'; } /* '' */
.icon-aw-ram:before { content: '\e863'; } /* '' */
/* 2016.7.29 */
.icon-aw-router:before { content: '\e865'; } /* '' */
.icon-aw-switch:before { content: '\e866'; } /* '' */
.icon-aw-vm:before { content: '\e867'; } /* '' */
.icon-aw-pm:before { content: '\e868'; } /* '' */
.icon-aw-firewall1:before { content: '\e869'; } /* '' */
/* 2016.8.12 */
.icon-aw-ext-net:before { content: '\e86a'; } /* '' */
.icon-aw-shared-net:before { content: '\e86b'; } /* '' */
.icon-aw-external-net1:before { content: '\e86c'; } /* '' */
.icon-aw-firewall1-1:before { content: '\e86d'; } /* '' */
.icon-aw-mirroring1:before { content: '\e86e'; } /* '' */
.icon-aw-private-switch1:before { content: '\e86f'; } /* '' */
.icon-aw-router1:before { content: '\e870'; } /* '' */
.icon-aw-shared-ext-net1:before { content: '\e871'; } /* '' */
.icon-aw-sharing-switch1:before { content: '\e872'; } /* '' */

/* 2016.12.01 */
.icon-aw-virtual-down:before { content: '\e873'; } /* '' */
.icon-aw-virtual-error:before { content: '\e874'; } /* '' */
.icon-aw-virtual-out:before { content: '\e875'; } /* '' */
.icon-contract:before { content: '\e876'; } /* '' */
.icon-equal:before { content: '\e877'; } /* '' */
.icon-finance:before { content: '\e878'; } /* '' */
.icon-nic:before { content: '\e879'; } /* '' */
.icon-phone:before { content: '\e87a'; } /* '' */
.icon-process:before { content: '\e87b'; } /* '' */

/* 2017.2.22 */
.icon-aw-fanghuoqiang:before { content: '\e87c'; } /* '' */
.icon-aw-gx-jhj:before { content: '\e87d'; } /* '' */
.icon-aw-gxww-jhj:before { content: '\e87e'; } /* '' */
.icon-aw-jhj:before { content: '\e87f'; } /* '' */
.icon-aw-jx:before { content: '\e880'; } /* '' */
.icon-aw-lyq:before { content: '\e881'; } /* '' */
.icon-aw-sy-jhj:before { content: '\e882'; } /* '' */
.icon-aw-ww-jhj:before { content: '\e883'; } /* '' */
.icon-aw-wlj:before { content: '\e884'; } /* '' */
.icon-aw-vm:before { content: '\e885'; } /* '' */
.icon-aw-network-card:before { content: '\e886'; } /* '' */
.icon-aw-hdd:before { content: '\e887'; } /* '' */
.icon-sw-ssd:before { content: '\e888'; } /* '' */
.icon-aw-language:before { content: '\e889'; } /* '' */
.icon-aw-yunfuwuqi:before { content: '\e88a'; } /* '' */
.icon-aw-zhankai:before { content: '\e88b'; } /* '' */
.icon-aw-project1:before { content: '\e88c'; } /* '' */
.icon-aw-cloud-server:before { content: '\e88d'; } /* '' */
.icon-aw-cluster:before { content: '\e88e'; } /* '' */
.icon-aw-data-center1:before { content: '\e88f'; } /* '' */
.icon-aw-folder:before { content: '\e890'; } /* '' */
.icon-aw-ip:before { content: '\e891'; } /* '' */
.icon-aw-network:before { content: '\e892'; } /* '' */

/* 2017.5.18 */
.icon-aw-networkv:before { content: '\e893'; } /* '' */
.icon-aw-billing:before { content: '\e894'; } /* '' */


/* 2017.07.01 */
.icon-aw-up:before { content: '\e895'; } /* '' */

.icon-aw-jywk:before { content: '\e898'; } /* '' */
.icon-aw-jycp:before { content: '\e899'; } /* '' */


/* 2017.12.21 */
.icon-aw-angle-down-1:before { content: '\e89a'; } /* '' */
.icon-aw-angle-up-1:before { content: '\e89b'; } /* '' */
.icon-aw-angle-left-1:before { content: '\e89c'; } /* '' */
.icon-aw-angle-right-1:before { content: '\e89d'; } /* '' */
.icon-aw-bz:before { content: '\e89e'; } /* '' */
.icon-aw-ck:before { content: '\e89f'; } /* '' */
.icon-aw-cl:before { content: '\e8a0'; } /* '' */
.icon-aw-csh:before { content: '\e8a1'; } /* '' */
.icon-aw-cz:before { content: '\e8a2'; } /* '' */
.icon-aw-dc:before { content: '\e8a3'; } /* '' */
.icon-aw-dclgd:before { content: '\e8a4'; } /* '' */
.icon-aw-deletegateway:before { content: '\e8a5'; } /* '' */
.icon-aw-dr:before { content: '\e8a7'; } /* '' */
.icon-aw-fb:before { content: '\e8a8'; } /* '' */
.icon-aw-gateway:before { content: '\e8a9'; } /* '' */
.icon-aw-gl:before { content: '\e8aa'; } /* '' */
.icon-aw-glzj:before { content: '\e8ab'; } /* '' */
.icon-aw-gx:before { content: '\e8ac'; } /* '' */
.icon-aw-hf:before { content: '\e8ad'; } /* '' */
.icon-aw-hy:before { content: '\e8ae'; } /* '' */
.icon-aw-jcgl:before { content: '\e8af'; } /* '' */
.icon-aw-jqm:before { content: '\e8b0'; } /* '' */
.icon-aw-jsgl:before { content: '\e8b1'; } /* '' */
.icon-aw-jxfw:before { content: '\e8b2'; } /* '' */
.icon-aw-jy:before { content: '\e8b3'; } /* '' */
.icon-aw-key:before { content: '\e8b4'; } /* '' */
.icon-aw-plzc:before { content: '\e8b6'; } /* '' */
.icon-aw-down:before { content: '\e8b7'; } /* '' */
.icon-aw-up-1:before { content: '\e8b8'; } /* '' */
.icon-aw-qy:before { content: '\e8b9'; } /* '' */
.icon-aw-rqfw:before { content: '\e8ba'; } /* '' */
.icon-aw-rqjq:before { content: '\e8bb'; } /* '' */
.icon-aw-rzdc:before { content: '\e8bc'; } /* '' */
.icon-aw-ssd:before { content: '\e8bd'; } /* '' */
.icon-aw-tb:before { content: '\e8be'; } /* '' */
.icon-aw-wdgd:before { content: '\e8bf'; } /* '' */
.icon-aw-wh:before { content: '\e8c0'; } /* '' */
.icon-aw-wlzygl:before { content: '\e8c1'; } /* '' */
.icon-aw-xmgl:before { content: '\e8c2'; } /* '' */
.icon-aw-xnzygl:before { content: '\e8c3'; } /* '' */
.icon-aw-xz:before { content: '\e8c4'; } /* '' */
.icon-aw-yhmen:before { content: '\e8c5'; } /* '' */
.icon-aw-yhwomen:before { content: '\e8c6'; } /* '' */
.icon-aw-zc:before { content: '\e8c7'; } /* '' */
.icon-aw-zd:before { content: '\e8c8'; } /* '' */
.icon-aw-zdi:before { content: '\e8c9'; } /* '' */
.icon-aw-yingdao-down:before { content: '\e8ce'; } /* '' */
.icon-aw-yingdao-left:before { content: '\e8cf'; } /* '' */
.icon-aw-yingdao-right:before { content: '\e8d0'; } /* '' */
.icon-aw-yingdao-up:before { content: '\e8d1'; } /* '' */
.icon-aw-eye:before { content: '\1F441'; } /* '👁' */
.icon-aw-sfgl:before { content: '\e8cb'; } /* '' */



.icon-aw-deletegateway1:before { content: '\e8d2'; } /* '' */
.icon-aw_yes1:before { content: '\e8d3'; } /* '' */
.icon-aw-gk0:before { content: '\e8d4'; } /* '' */
.icon-aw-jk0:before { content: '\e8d5'; } /* '' */
.icon-aw-fwjk:before { content: '\e8d6'; } /* '' */
.icon-aw-gjjk:before { content: '\e8d7'; } /* '' */
.icon-aw-hsz:before { content: '\e8d8'; } /* '' */
.icon-aw-wljtp:before { content: '\e8d9'; } /* '' */
.icon-aw-wdsq:before { content: '\e8da'; } /* '' */
.icon-aw-sqgd:before { content: '\e8db'; } /* '' */
.icon-aw-bmgl:before { content: '\e8dc'; } /* '' */
.icon-aw-czrz:before { content: '\e8dd'; } /* '' */
.icon-aw-aq:before { content: '\e8de'; } /* '' */
.icon-aw-dtss:before { content: '\e8e1'; } /* '' */
.icon-aw-fp:before { content: '\e8e2'; } /* '' */
.icon-aw-xtgl:before { content: '\e8cc'; } /* '' */
.icon-aw-fd1:before { content: '\e8df'; } /* '' */
.icon-aw-sx1:before { content: '\e8e3'; } /* '' */
.icon-aw-help3:before { content: '\e8e0'; } /* '' */